* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #1E3A8A, #2563EB);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s;
}

header .logo h1 {
  margin-left: 10px;
  background: linear-gradient(45deg, #2563EB, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #88a7fc;
}


main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px auto;
  max-width: 1200px;
  padding: 20px;
}

.text-content {
  max-width: 60%;
  padding-right: 20px;
}

.text-content h2 {
  font-size: 48px;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #2563EB, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}

.text-content p {
  font-size: 22px;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; 
}

.image-content img {
  width: 200px; 
  height: 300px;
  object-fit: cover;
  animation: rotate3D 4s infinite linear;
  transform-style: preserve-3d;
}

@keyframes rotate3D {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.social-icons {
display: block;
margin-top: 20px;
text-align: center;
}

.social-icon {
width: 40px;
height: 40px;
border: 2px solid gray;
border-radius: 50%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease, box-shadow 0.3s ease;
margin: 0 10px;
}

.social-icon:hover {
transform: scale(1.1);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
border-color: #2563EB;
}

footer {
  margin-top: auto;
  padding: 20px;
  text-align: center;
}

.footer-btn {
  background-color: #2563EB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.footer-btn:hover {
  background-color: #1D4ED8;
  transform: scale(1.1);
}

header:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
